header {
  width: 100%;
  background-color: #4fa49a;
  border-bottom: #fff 1px solid;
  top: 0;
  position: fixed;
}
header .header-inner {
  display: flex;
  margin: 0 80px;
  align-items: center;
  justify-content: center;
  height: 80px;
}
header .header-title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding-right: 130px;
}
header .header-nav-list {
  display: flex;
}
header .header-nav-list a {
  text-decoration: none;
}
header .header-nav-item {
  float: left;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #ccc;
}
header .select {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.main {
  width: 80%;
  margin: 100px auto 100px;
  padding-top: 20px;
}

.contact_mg {
  margin-top: 100px;
}

section {
  margin: 20px 0;
}

table {
  width: 100%;
}
table th,
table td {
  padding: 20px 10px;
  border: solid 1px #aaa;
  vertical-align: middle;
}
table th {
  background-color: #4fa49a;
  color: white;
}

.notice {
  background-color: #ef454a;
}

table th:nth-child(1),
table td:nth-child(1) {
  width: 20%;
  /* width: 40%; */
}

.sub-th {
  background-color: #ccc;
}

input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.recommend_under {
  margin-bottom: 0.5rem;
}

.agent-not-listed {
  margin-top: 90px;
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.viewing_agent {
  font-size: 20px;
  margin-bottom: 10px;
}

#js-open {
  font-size: 20px;
  margin-bottom: 10px;
}

.operations {
  /* width: 300px; */
  display: flex;
  justify-content: end;
  margin-right: 0;
}

.operations button {
  /* display: block; */
  margin-left: 20px;
  font-size: 18px;
  width: 200px;
  height: 50px;
}

.agent-add-table > table,
.agent-add-table form > table {
  margin: 30px 0;
}
.agent-add-table input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  width: auto;
  height: auto;
}
.agent-add-table input[type="text"] {
  width: 100%;
}
.agent-add-table input[type="date"] {
  width: 40%;
}
.agent-add-table .login-info input,
.agent-add-table .contact-number input {
  width: 30%;
}
.agent-add-table .required {
  background-color: #ef454a;
  color: #fff;
  font-size: 90%;
  padding: 2px;
  margin-left: 10px;
}
.agent-add-table .error {
  font-size: 90%;
  color: #ef454a;
}
.tag_error {
  font-size: 150%;
  font-weight: bold;
  color: #ef454a;
}


.added-tag {
  display: block;
}
.added-tag + .added-tag {
  margin-top: 10px;
}
.added-tag span {
  margin-left: 5px;
}

.done {
  margin-top: 80px;
  margin-left: 20px;
  font-size: 20px;
  line-height: 1.8;
}

.done p {
  margin-bottom: 10px;
}

.back {
  margin: 50px 0;
  width: auto;
}

.back a {
  background-color: #4fa49a;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.back_inquiry_all {
  margin: 50px 0;
}

.back_inquiry_all a {
  background-color: #4fa49a;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.back_detail {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  width: auto;
  height: auto;
}

.make_invalid {
  width: 200px;
  height: 70px;
  margin: 20px auto;
  font-size: 30px;
  /* padding: 20px; */
  /* background: red; */
  /* border: 3px solid #DAFCED; */
  text-decoration: none;
  cursor: pointer;
}

.invalid {
  background: #3897f1;
  border: 3px solid #1083ee;
  color: #fff;
}
.non_invalid {
  background: #fff;
  border: 3px solid #000;
  color: #000 !important;
}

.invalid_operation {
  margin-top: 50px;
}

.invalid_operation label {
  font-size: 25px;
  font-weight: bold;
}

.tag_edit_btns {
  margin: 10px 0 30px;
}

.tag_edit_btns button {
  width: 200px;
  height: 50px;
  margin-right: 20px;
  font-size: 20px;
}

.tag_edit_btns button a {
  text-decoration: none;
  width: 100%;
}
