.students_detail th {
  width: 20%;
  color: #fff;
}

.students_detail span {
  padding: 3px 10px;
  color: white;
}

.mukou {
  margin: 50px 0;
  text-align: center;
}

.back_to_students {
  width: 10vw;
  padding: 20px;
  background: #4fa49a;
  border: 3px solid #dafced;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.mukou_ok {
  /* width: 50px; */
  padding: 20px;
  height: 40px;
  background: red;
  border: 3px solid #dafced;
  text-decoration: none;
  color: #fff;
}

/* .form {
    margin: 5rem auto;
    width: 80%;
    text-align: center;
    border: 1px solid black;
 } */

.iframe_wrap {
  color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0 0;
  text-align: center;
}

iframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem 0 5rem;
  padding: 5rem 0;
  text-align: center;
  border: 1px solid black;
}

.mukou_to_form {
  width: 12rem;
  height: 5rem;
  font-size: 1rem;
  padding: 20px;
  background: red;
  border: 3px solid #dafced;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.usukusuru {
  opacity: 0.5;
  background-color: #fcfcfc;
  display: none;
}

#view {
  /* width: 200px;
   margin: 0 auto; */
}

#view p {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.7;
}

.report_btn {
  width: 200px;
  height: 60px;
  font-size: 18px;
  padding: 10px;
  margin-top: 30px;
  background: red;
  border: 3px solid #dafced;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
