.manager_information {
    margin: 50px 0;
}

.company_information {
    margin: 50px 0;
}

.agent_detail th {
    width: 300px;
    /* width: 30%; */
    color: #fff;
    background-color: #4FA49A;
}

.agent_detail tr {
    background-color: #fff;
}

.agent_detail td {
    overflow-wrap:  break-word;
}

.company_information_title {
    font-size: 30px;
    margin-bottom: 10px;
}