.to_students_detail {
    color: blue;
    border-bottom: 1px solid black;
}

.students_all_title {
    font-size: 2.5rem;
    font-weight: bold;
}

.sum_inquiry_wrapper {
    margin: 30px 0;
}

.sum_inquiry span{
    font-size: 30px;
    font-weight: bold;
}

form {
    margin: 20px 0;
}

input{
    width:auto;
}